<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/69065b3d-3566-4d01-a649-30db1938e832/resourcegroups/VMAzure/providers/Microsoft.ContainerRegistry/registries/APIMovies</ResourceId>
    <ResourceName>APIMovies</ResourceName>
    <ResourceGroup>VMAzure</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://apimovies.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2b968c4d-01e0-454f-b3a5-670c65759dbc</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>